article {
  width: 95rem;
  margin-inline: auto;
  padding: 3rem;
  // width: default not setting; // < 580

  // padding: 1.5rem; < 580px
  background: $eerie-black-2;
  box-shadow: $shadow-2;
  border-radius: 2rem;
  z-index: 1;
  display: none;
  transition: $transition-2;

  &.active {
    display: block;
    animation: fade 0.5s ease backwards;
  }

  @include respond(big-desktop){
    width: auto;
    min-height: 100%;
  }
  @include respond(tab-port) {
    width: 70rem;
  }
  @include respond(phone-l) {
    width: 52rem;
  }
}
