.navbar {
  border-radius: 2rem 2rem 0 0;

  position: absolute;
  bottom: auto;
  top: 0;
  left: auto;
  right: 0;
  width: max-content;
  border-radius: 0 2rem;
  padding: 0 2rem;
  box-shadow: none;

  // position: fixed; // < 1024
  // bottom: 0; // <1024
  // left: 0; // <1024
  // width: 100%; // <1024
  background: $bg-gradient-jet;
  backdrop-filter: blur(1rem);
  /* border: 1px solid $jet); */
  // border-radius: 12px 12px 0 0; // <580
  // box-shadow: $shadow-2; // <1024
  z-index: 5;

  &__list {
    // gap: 2rem; // <1024
    // gap: 0rem; // <580
    gap: 3rem;
    padding: 0 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    // padding: 0 10px; // <1024
  }

  &__item-link {
    color: $light-gray;
    font-size: 1.5rem;
    font-weight: 500;
    // font-weight: 0; // <1024
    // font-size: 1.4rem; // < 768
    // font-size: $font-size-8; // < 580
    padding: 2rem 0.7rem;
    transition: color $transition-1;
    

    &:hover,
    &:focus {
      color: $light-gray-70;
    }
    &.active {
      color: $orange-yellow-crayola;
    }
  }
}
