.sidebar {
  width: 95rem;
  max-height: 18rem;
  margin-bottom: 3rem;
  margin-inline: auto;
  padding: 3rem;
  border-radius: 2rem;
  box-shadow: $shadow-2;
  overflow: hidden;
  // box-shadow: $shadow-1; < 1024px
  background: $eerie-black-2;
  transition: $transition-2;

  &.active {
    max-height: 58.4rem;
    @include respond(phone-s) {
      max-height: 40.5rem; //<580
    }
  }

  @include respond(big-desktop) {
    width: auto;
    position: sticky;
    top: 6rem;
    max-height: max-content;
    height: 100%;
    margin-bottom: 0;
    padding-top: 6rem;
    z-index: 1;
  }
  @include respond(tab-port) {
    width: 70rem;
  }
  @include respond(phone-l) {
    width: 52rem;
  }
  @include respond(phone-s) {
    margin-bottom: 1.5rem;
    max-height: 11.2rem;
    padding: 1.5rem;
  }
}
