/*-----------------------------------*\
  #COMPONENTS
\*-----------------------------------*/

@use "variables" as *;

:root {
  @include font-sizes("base");
}

// Sidebar styles
.sidebar {
  background: $eerie-black-2;
  border: 1px solid $jet;
  border-radius: 20px;
  padding: 15px;
  box-shadow: $shadow-1;
  z-index: 1;
}

// Separator
.separator {
  width: 100%;
  height: 1px;
  background: $jet;
  margin: 16px 0;
}

// Icon box
.icon-box {
  position: relative;
  background: red;
  width: 30px;
  height: 30px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: $orange-yellow-crayola;
  box-shadow: $shadow-1;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    inset: 1px;
    background: $eerie-black-1;
    border-radius: inherit;
    z-index: -1;
  }

  ion-icon {
    --ionicon-stroke-width: 35px;
  }
}

// Article base
article {
  background: $eerie-black-2;
  border: 1px solid $jet;
  border-radius: 20px;
  padding: 15px;
  box-shadow: $shadow-1;
  z-index: 1;
  display: none;

  &.active {
    display: block;
    animation: fade 0.5s ease backwards;
  }
}

// Article title
.article-title {
  position: relative;
  padding-bottom: 7px;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30px;
    height: 3px;
    background: $text-gradient-yellow;
    border-radius: 3px;
  }
}

// Scrollbar
.has-scrollbar {
  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  &::-webkit-scrollbar-track {
    background: $onyx;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background: $orange-yellow-crayola;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-button {
    width: 20px;
  }
}

// Content card
.content-card {
  position: relative;
  background: $border-gradient-onyx;
  padding: 15px;
  padding-top: 45px;
  border-radius: 14px;
  box-shadow: $shadow-2;
  cursor: pointer;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    inset: 1px;
    background: $bg-gradient-jet;
    border-radius: inherit;
    z-index: -1;
  }
}

// Navbar
.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: hsla(240, 1%, 17%, 0.75);
  backdrop-filter: blur(10px);
  border: 1px solid $jet;
  border-radius: 12px 12px 0 0;
  box-shadow: $shadow-2;
  z-index: 5;

  .navbar-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
  }

  .navbar-link {
    color: $light-gray;
    font-size: var(--fs-8);
    padding: 20px 7px;
    transition: color $transition-1;

    &:hover {
      color: $light-gray-70;
    }

    &.active {
      color: $orange-yellow-crayola;
      font-weight: $fw-600;
    }
  }
}

// Skills progress
.skill-progress-bg {
  background: $jet;
  width: 100%;
  height: 8px;
  border-radius: 10px;
}

.skill-progress-fill {
  background: $text-gradient-yellow;
  height: 100%;
  border-radius: inherit;
}

.select-list {
  background: $eerie-black-2;
  position: absolute;
  top: calc(100% + 6px);
  width: 100%;
  padding: 6px;
  border: 1px solid $jet;
  border-radius: 14px;
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: 0.15s ease-in-out;

  .filter-select.active + & {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
}

.select-item button {
  background: $eerie-black-2;
  color: $light-gray;
  font-size: var(--fs-6);
  font-weight: $fw-400;
  text-transform: capitalize;
  width: 100%;
  padding: 8px 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: $transition-1;

  &:hover {
    --eerie-black-2: hsl(240, 2%, 20%);
  }
}
