/*-----------------------------------*\
  #RESPONSIVE - MEDIUM (580px+)
\*-----------------------------------*/

@use "../variables" as *;

// 580px and above
@media (min-width: $breakpoint-580) {
  // Variables override for medium screens

  :root {
    @include font-sizes("medium");
  }

  main {
    margin-top: 60px;
    margin-bottom: 100px;
  }

  .sidebar,
  article {
    width: 520px;
    margin: auto;
    padding: 30px;
  }

  .sidebar {
    max-height: 180px;
    margin-bottom: 30px;

    &.active {
      max-height: 584px;
    }
  }

  .sidebar-header {
    gap: 25px;

    .avatar-box {
      border-radius: 30px;

      img {
        width: 120px;
      }
    }

    .header-content {
      .name {
        margin-bottom: 15px;
      }

      .title {
        padding: 5px 18px;
      }
    }
  }

  .header-btn {
    top: -30px;
    right: -30px;
    padding: 10px 15px;

    span {
      display: block;
      font-size: 12px;
    }

    ion-icon {
      display: none;
    }
  }

  .separator {
    margin: 32px 0;
  }

  .article-title {
    font-weight: $fw-600;
    padding-bottom: 15px;

    &::after {
      width: 40px;
      height: 5px;
    }
  }

  .icon-box {
    width: 48px;
    height: 48px;
    border-radius: 12px;
    font-size: 18px;
  }

  // Navbar
  .navbar {
    border-radius: 20px 20px 0 0;

    .navbar-list {
      gap: 20px;

      .navbar-item {
        .navbar-link {
          font-size: 14px;
        }
      }
    }
  }

  // About page
  .about {
    .article-title {
      margin-bottom: 20px;
    }

    .about-text {
      margin-bottom: 40px;
    }
  }

  // Service responsive styles
  .service {
    .service-list {
      .service-item {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 18px;
        padding: 30px;

        .service-icon-box {
          margin-bottom: 0;
          margin-top: 5px;
        }

        .service-content-box {
          text-align: left;
        }
      }
    }
  }

  // Resume responsive styles
  .resume {
    .timeline {
      .timeline-list {
        margin-left: 65px;

        .timeline-item {
          &:not(:last-child)::before {
            left: -40px;
          }

          &::after {
            height: 8px;
            width: 8px;
            left: -43px;
          }
        }
      }
    }

    .skills {
      .skills-list {
        .skills-item {
          &:not(:last-child) {
            margin-bottom: 25px;
          }
        }
      }
    }
  }

  // Portfolio & Blog responsive styles
  .portfolio {
    .project-list {
      .project-item {
        .project-img {
          border-radius: 16px;
        }
      }
    }
  }
}
