*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1rem = 10px
  font-family: $ff-poppins;
}

body {
  box-sizing: border-box;
  background-color: $smoky-black;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img,
ion-icon,
a,
button,
time,
span {
  display: block;
}

button {
  font: inherit;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
}

input,
textarea {
  display: block;
  width: 100%;
  background: none;
  font: inherit;
}

::selection {
  background: $orange-yellow-crayola;
  color: $smoky-black;
}
:focus {
  outline-color: $orange-yellow-crayola;
}

main {
  margin-top: 6rem;
  margin-bottom: 6rem;
  min-width: 25.9rem;

  @include respond(big-desktop) {
    max-width: 120rem;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 2.5rem;
  }
  @include respond(tab-port) {
    margin-bottom: 10rem;
  }
  @include respond(phone-s) {
    margin: 1.5rem 1.2rem; //< 580px
    margin-bottom: 7.5rem; //< 580
  }
}
.main__content {
  // < 1024 nothing exist
  position: relative;
  width: max-content;
  margin: auto;
  @include respond(big-desktop) {
    min-width: 75%;
    width: 75%;
    margin: 0;
  }
}
